body {
  background: #f5d9d5;
  font-family: "Nunito", sans-serif;
}

span {
  color: red;
}
.blurb h2 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: #f498b8;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}
#headinggroup span {
  color: #ea1c2c;
}
#headinggroup h1 {
  font-weight: 100;
}

@media (max-width: 1200px) {
  #headinggroup h1 {
    font-weight: 100;
    font-size: 3rem;
  }
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}
